.LayoutPage {
    width: 100vw;
    height: calc(100vh - 4em);
    display: flex;
    align-items: flex-start;
}


/*style menu*/
.menu {
    width: 350px;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    border-right: 1px solid var(--seporator-color);
}
.navigation{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.navigation a{
    display: flex;
    align-items: center;
    gap: 0.5em;

    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.navigation a.navigateActive{
    color: var(--primary-color);
}

.content{
    padding: 2em 3em;
    width: 70%;
}