.CartPage{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.itemsContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/*order*/
.orderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.orderInfo{
    width: 100%;
}
.orderInfo hr{
    border: 1px solid #F1F2F3;
}
.text{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text h4{
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.text span{
    color: var(--text-color);
    text-align: right;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}