.formContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.inputContainer label{
    color: #C4C4C4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.inputContainer input{
    width: calc(100% - 2em);
}

.buttonSub{
    margin-top: 50px;
}